:root {
  --background1: #ffdb9d;
  --background2: #84704f;
  --foreground: #056900;
  --accent1: #ffffff;
  --accent2: #089800;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html,
body {
  max-width: 100vw;
  height: 100%;
  overflow-x: hidden;
}

body {
  color: var(--accent1);
  background: var(--background1);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.header {
  width: 100%;
  height: 10%;
  background-color: var(--foreground);
}

.header * {
  float: right;
  margin-top: 2vh;
  margin-right: 2vh;
}

.header h1 {
  float: left;
  margin-top: 2vh;
  margin-left: 2vh;
  font-size: 5vh;
}